body {
    --color-white: #fff;
    --color-xlight-grey: #e8edf1;
    --color-light-grey: #c2cfd9;
    --color-grey: #98a5ae;
    --color-dark-grey: #788289;
    --color-xdark-grey: #41464a;
    --color-black: #1d1d1d;

    --color-red: #d11b26;
    --color-blue: #006cbe;
    --color-green: #00be72;

    --box-shadow: 0 2px 10px 0 #0002;
}