/* course page */
.media.il_HeaderInner {
    display: none;
}
.ilAccHeadingHidden {
    display: none;
}
#mainscrolldiv > ul#ilTab {
    display: none;
}

#ilContentContainer {
    margin: 0 10px;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 100px;
}
#ilContentContainer.dci-course-page {
    font-size: var(--font-size-small);
    line-height: var(--font-size-xlarge);
}

body.is_course #ilContentContainer .dci-course-cover {
    width: 100%;
    min-height: 150px;
    margin-bottom: 50px;
}
body.is_course #ilContentContainer .dci-course-cover figure {
    margin: 0;
}
body.is_course #ilContentContainer .dci-course-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#ilContentContainer .dci-course-title h1 {
    font-size: var(--font-size-xxlarge) !important;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bold;
}
#ilContentContainer .row h1 {
    font-size: var(--font-size-xxlarge) !important;
    margin-top: 2em;
    margin-bottom: 1em;
    font-weight: bold;
    position: relative;
}
body.is_course #ilContentContainer .row h1::before {
    content: '';
    position: absolute;
    right: calc(100% + 0.5em);
    width: 100%;
    border-bottom: 2px dashed #E8EDF1;
    bottom: 0.2em;
}
#ilContentContainer .row h2 {
    margin-top: 2em;
}
#ilContentContainer .ilContainerBlock {
    display: none;
}

.il-copg-mob-fullscreen-modal {
    display: none;
}
#il_right_col {
    display: none;
}


/* meter */
.dci-meter {
    background: var(--color-xlight-grey);
    border-radius: 3em;
    padding: 1em;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 1em;
}
.dci-meter svg {
    width: auto;
    height: 2em;
    display: block;
}
.dci-meter svg.circular-meter path.bar {
    stroke: var(--color-grey);
}
.dci-meter svg.circular-meter path.progress {
    transition: stroke-dashoffset 0.35s, stroke 0.35s;
    stroke: var(--color-red);
}
      

/* cleanup eDami */
#ilContentContainer .row h1 {
    position: relative;
    padding: 0;
    border-left: 0;
    border-right: 0;
}

.dci-card-preview .dci-card-progress.completed::after {
    content: 'COMPLETED';
}
