/* course page */
.media.il_HeaderInner {
    display: none;
}
.ilAccHeadingHidden {
    display: none;
}
body:not(.is_inbox) #mainscrolldiv > ul#ilTab {
    display: none;
}

#ilContentContainer {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px 100px 20px;

    &.dci-course-page {
        font-size: var(--font-size-small);
        line-height: var(--font-size-xlarge);
    }

    .dci-course-title h1 {
        font-size: var(--font-size-xxlarge) !important;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: bold;
    }

    .row {
        h1 {
            font-size: var(--font-size-xxlarge) !important;
            margin-top: 2em;
            margin-bottom: 1em;
            font-weight: bold;
            position: relative;
            padding: 0;
            border-left: 0;
            border-right: 0;
        }
        h2 {
            margin-top: 2em;
        }
    }

    .ilContainerBlock {
        display: none;
    }
}

body.is_course #ilContentContainer {
    .dci-course-cover {
        width: 100%;
        min-height: 150px;
        margin-bottom: 50px;

        figure {
            margin: 0;
        }
    }
    .dci-course-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        display: none;
    }
}

.il-copg-mob-fullscreen-modal {
    display: none;
}
#il_right_col {
    display: none;
}


/* meter */
.dci-meter {
    background: var(--color-light-grey);
    border-radius: 3em;
    white-space: nowrap;
    height: 1em;
    position: relative;
    font-size: var(--font-size-xxsmall);

    .dci-meter-value {
        font-weight: normal;
        position: absolute;
        bottom: 100%;
        transform: translateX(-50%);
        padding: 0 0.2em;
        color: var(--color-black);
    }

    &:is([data-progress-range="00"], [data-progress-range="10"]) .dci-meter-value {
        transform: translateX(1.2em);
    }
    &[data-progress-range="100"] .dci-meter-value {
        transform: translateX(-100%);
    }

    &.progress-red .dci-meter-progress {
        background: var(--color-red);
    }
    &.progress-yellow .dci-meter-progress {
        background: var(--color-yellow);
    }
    &.progress-green .dci-meter-progress {
        background: var(--color-green);
    }
}
.kalamun-training-dashboard_course .dci-meter {
    background: var(--color-light-grey);
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}
.dci-meter-progress {
    height: 100%;
    min-width: 1em;
    background: var(--color-red);
    border-radius: 1em;
    position: absolute;
    top: 0;
    left: 0;
}


/* cleanup eDami */
.dci-card-preview .dci-card-progress.completed::after {
    content: 'COMPLETED';
}
