/* panels */

.panel .panel-heading.ilHeader {
    display: flex;
    justify-content: space-between;
}

.panel ul.dropdown-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    /* temporary hidden */
    height: 0;
    overflow: hidden;
}
.panel ul.dropdown-menu li {
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: var(--font-size-small);
}


/* accordion */
.dci-accordion div.il_VAccordionContentDef {
    display: grid;
    grid-template-rows: 1fr;
    transition: grid-template-rows 500ms;
    height: auto !important;
}
.dci-accordion div.il_VAccordionContentDef.ilAccHideContent {
    grid-template-rows: 0fr;
}
.dci-accordion div.il_VAccordionContentDef .ilc_va_icont_VAccordICont {
    overflow: hidden;
}
.dci-accordion div.ilc_va_icont_VAccordICont,
.dci-accordion div.ilc_va_iheada_VAccordIHeadActive {
    padding: 0;
    background: transparent;
    text-transform: none;
}
.dci-accordion .il_VAccordionToggleDef {
    cursor: pointer;
    border-bottom: 1px solid transparent;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--color-light-grey);
}
.dci-accordion .dci-accordion-heading > div {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.dci-accordion .dci-accordion-heading h2 {
    margin-bottom: 0;
}
.dci-accordion .dci-accordion-heading [class^="icon-"] {
    transition: transform 0.3s ease-in-out;
    background: var(--color-light-grey);
    border-radius: 2em;
    font-size: var(--font-size-xlarge);
    line-height: 1;
    height: 1.4em;
    width: 1.4em;
    display: inline-flex;
    align-items: center;
    transform: rotate(0deg);
}
.dci-accordion .dci-accordion-heading.ilc_va_iheada_VAccordIHeadActive [class^="icon-"] {
    transform: rotate(180deg);
}
