/* panels */
.panel .panel-heading.ilHeader {
    display: flex;
    justify-content: space-between;
}

.panel ul.dropdown-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    /* temporary hidden */
    height: 0;
    overflow: hidden;
}
.panel ul.dropdown-menu li {
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: var(--font-size-small);
}

/* accordion */
.dci-accordion div.il_VAccordionContentDef {
    display: grid;
    grid-template-rows: 1fr;
    transition: grid-template-rows 500ms;
    height: auto !important;
}
.dci-accordion-heading {
    background: var(--color-blue);
    color: var(--color-white);
    padding: 0.5em 0;
    box-shadow: 600px 0 0 var(--color-blue), -600px 0 0 var(--color-blue);
}
.dci-accordion div.il_VAccordionContentDef.ilAccHideContent {
    grid-template-rows: 0fr;
}
.dci-accordion div.il_VAccordionContentDef .ilc_va_icont_VAccordICont {
    overflow: hidden;
}
.dci-accordion div.ilc_va_icont_VAccordICont {
    text-transform: none;
    background-color: transparent;
    padding: 0;
}
.dci-accordion div.ilc_va_iheada_VAccordIHeadActive,
.dci-accordion div.ilc_va_iheada_VAccordIHeadActive:hover {
    padding: 0.5em 0;
    background: var(--color-blue);
    color: var(--color-white);
    text-transform: none;
}
.dci-accordion .il_VAccordionToggleDef {
    cursor: pointer;
    border-bottom: 1px solid transparent;
    padding-bottom: 8px;
}
.dci-accordion .dci-accordion-heading > div {
    display: flex;
    align-items: flex-end;
}
.dci-accordion .dci-accordion-heading h2 {
    margin: 0 !important;
    flex-grow: 2;
}
.dci-accordion .dci-accordion-heading .accordion-toggle {
    transition: transform 0.3s ease-in-out;
    border-radius: 2em;
    font-size: var(--font-size-xlarge);
    line-height: 1;
    height: 1.4em;
    width: 1.4em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transform: rotate(0deg);
}
.dci-accordion .dci-accordion-heading.ilc_va_iheada_VAccordIHeadActive .accordion-toggle {
    transform: rotate(180deg);
}
.dci-accordion .accordion-progress {
    padding: 0.3em 1em;
    font-size: 1rem;
}
.dci-accordion .accordion-progress.completed {
    background: var(--color-green);
    color: var(--color-white);
}
.dci-accordion .accordion-progress [class^="icon-"] {
    margin-right: 0.5em;
}
.dci-accordion .accordion-progress [class^="icon-"]:before {
    transform: scale(1.4);
}

/* columns */
.flex-col.flex-grow {
    position: relative;
    height: 100%;
}

/* paragraph styles */
body :where(div.ilc_section_Special, a.ilc_section_Special, div.ilc_section_Background, a.ilc_section_Background) {
    background: var(--color-xxlight-grey) !important;
    border: 1px solid var(--color-white) !important;
    outline: 10px solid var(--color-xxlight-grey) !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 !important;
    padding-inline: 20px !important;
    margin: 10px;
}
body .flex-col :where(div.ilc_section_Special, a.ilc_section_Special, div.ilc_section_Background, a.ilc_section_Background) {
    height: calc(100% - 20px);
    width: calc(100% - 20px);
}
body :where(div.ilc_section_Background, a.ilc_section_Background) {
    background: var(--color-light-grey) !important;
    outline-color: var(--color-light-grey) !important;
}
body :where(div.ilc_section_Special, a.ilc_section_Special, div.ilc_section_Background, a.ilc_section_Background) :where(h1, h2, h3, h4, h5, h6) {
    margin: 0 !important;
}
.flex-col figure.ilc_media_cont_MediaContainer {
    margin: 0;
}
