.is_inbox {
    :is(.ilTableNav, .ilTableCommandRowTop) {
        display: none;
    }

    .table-responsive {
        margin-bottom: 1rem;
    }
    .ilTableSelectAll {
        float: left;
        margin-left: 0.5rem;
        margin-right: 1rem;
    }
    .ilTableCommandRow {
        &, select {
            font-size: var(--font-size-xsmall);
        }
        input {
            padding: 0.4em 1em;
        }
    }

    .ilToolbar.navbar.navbar-default {
        display: none;
    }

    :is(#ilTab, #isSubTab) {
        display: flex;
    }

    .ilHeaderDesc {
        display: none;
    }

    table {
        th {
            font-size: var(--font-size-xxsmall);
            background: var(--color-xxlight-grey);
            font-weight: normal;
            padding: 0.2rem 0.5rem;

            a {
                color: var(--color-black);
            }
        }
        td {
            border-top: 1px solid var(--color-xlight-grey);
            padding: 0.2rem 0.5rem;
        }
    }
}
