* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	padding:0;
	margin:0;
	overflow-x: hidden;
}

body {
	line-height: 1.4em;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	overflow-x: hidden;
}

ol, ul {
	padding-left: 2em;
}

li {
	margin: .3em;
}

blockquote {
	quotes: none;
}

:focus {
	outline: 0;
}

table {
	border-style: none;
	border-collapse: separate;
	border-spacing: 0;
	border: 0;
	max-width: 100% ;
}

table td {
	padding: 2px;
	vertical-align: top;
}

img,
object,
iframe,
figure {
	vertical-align: middle;
	border: 0;
	max-width: 100%;
	height:auto;
}

iframe {
	max-width: 100% ;
}

.sr-only {
    display: none;
}


/* forms */

input, select, textarea {
	background:var(--color-white);
	border:1px solid var(--color-grey);
	padding:0.3em 0.5em;
}

label, input, select, button {
	cursor: pointer;
}

.dci-course-page button,
input[type=button],
input[type=submit] {
	background: var(--color-red);
	color: var(--color-white);
	border: 0;
	padding: 0.8em 1.5em;
	display: inline-block;
	font-size: 0.8em;
	text-transform: uppercase;
	letter-spacing: -0.03em;
}
:is(.dci-course-page button,
	input[type=button],
	input[type=submit]):hover {
    background: var(--color-light-red);
}
:is(.dci-course-page button,
	input[type=button],
	input[type=submit]).outlined {
    background: transparent !important;
	box-shadow: inset 0 0 0 2px;
	color: var(--color-red) !important;
}
:is(.dci-course-page button,
	input[type=button],
	input[type=submit]).outlined.theme-light {
    background: transparent !important;
	box-shadow: inset 0 0 0 2px;
	color: var(--color-white) !important;
}
:is(.dci-course-page button, input[type=button], input[type=submit]) [class^="icon-"] {
	font-size: 2em;
	display: inline-block;
	vertical-align: middle;
	line-height: 0;
	margin-right: -0.4em;
	margin-top: -1em;
	margin-bottom: -1em;
}

input[type=checkbox] {
	appearance: none;
	width: 1.2em;
	height: 1.2em;
	padding: 0;
	text-align: center;
	position: relative;
	cursor: pointer;
	margin: 0 5px;
	vertical-align: middle;
	position: relative !important;
}
input[type=checkbox]:checked:before {
	font-family: 'dci-icons';
	content: '\e822'; /* icon-done ✓ */
	position: absolute;
	top: 0;
	left: -0.1em;
	font-size: 1em;
	line-height: .8;
}

input[type=radio] {
	appearance: none;
	display: inline-flex;
	width: 1.2em;
	height: 1.2em;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	padding: 0;
	cursor: pointer;
	vertical-align: middle;
	position: relative !important;
}
input[type=radio]:checked:before {
	content: '';
	background-color: var(--color-red);
	width: 0.8em;
	height: 0.8em;
	border-radius: 1em;
}
