/* header */

header {
    position: fixed;
    padding: 0.2rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-xlight-grey);
    background: var(--color-white);
    z-index: 1000;
    width: 100%;
    box-shadow: var(--box-shadow);
}
header .logo {
    padding: 10px 30px;
}
header .logo > img {
    width: 100px;
    height: auto;
}


header .nav {
    flex-grow: 2;
}
header .nav :where(a, button) {
    text-transform: uppercase;
    font-weight: bold;
    font-size: var(--font-size-small);
    color: var(--color-black);
    text-decoration: none;
    text-align: left;
    padding: 0;
    margin: 0;
}
header .nav img {
    display: none;
}
header .nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    padding: 0 0.5em;
    gap: 1em;
}

header .nav ul li.dci-mainbar-li {
    position: relative;
}
header .nav ul .dci-mainbar-li-submenu {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
    z-index: 100;
    background: var(--color-white);
    box-shadow: var(--box-shadow);
    
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 500ms;    
}
header .nav ul li.dci-mainbar-li:hover .dci-mainbar-li-submenu {
    grid-template-rows: 1fr;
}
header .nav ul .dci-mainbar-li-submenu > .dci-main-slate {
    overflow: hidden;
    width: 300px;
}
header .nav ul .dci-mainbar-li-submenu > .dci-main-slate > * {
    padding: 10px;
    display: block;
    border-bottom: 1px solid var(--color-xlight-grey);
}
header .nav ul .dci-mainbar-li-submenu > .dci-main-slate > a:hover {
    color: var(--color-red);
    text-decoration: none !important;
}

.il-mainbar-slates {
    display: none;
}

header .metabar ul {
    display: none;
}

.page > .breadcrumbs {
    display: none;
}


/* footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    font-size: var(--font-size-xxxsmall);
    z-index: 1000;
}
footer .il-footer-permanent-url input {
    display: none;
}
footer .il-footer-content {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 5rem;
    padding: 0.4em 1em;
}
footer .il-footer-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
footer .il-footer-content ul li {
    display: inline-block;
}

/* columns */
.row-flex {
    display: flex;
    gap: 1em;
}
.row-flex > * {
    flex: 1;
}

/* all pages */
.il-layout-page-content {
    position: relative;
    padding-top: 150px;
    z-index: 10;
}
.il-layout-page-content:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    z-index: -1;
    background-color: var(--color-xlight-grey);
}


/* submenu */
.dci-internal-menu {
    position: sticky;
    top: 100px;
    background: var(--color-white);
    z-index: 100;
    margin-right: 50px;
    font-size: var(--font-size-xsmall);
    padding: 10px;
    box-shadow: var(--box-shadow);
}
.dci-internal-menu::before {
    content: '';
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    height: 5px;
    background: var(--color-light-grey);
    transition: background-color 0.3s ease-in-out;
}
.dci-internal-menu:hover::before {
    background: var(--color-red);
}
.dci-internal-menu ul {
    padding: 0;
    list-style: none;
}
.dci-internal-menu li {
    border-bottom: 1px solid var(--color-xlight-grey);
    padding: 0.5em 0;
    cursor: pointer;
}
.dci-internal-menu li:last-child {
    border-bottom: 0;
}
.dci-internal-menu li:hover {
    color: var(--color-red);
}
.dci-internal-menu li.visible {
    font-weight: bold;
}
