<!DOCTYPE html>
<html lang="{LANGUAGE}" dir="{TEXT_DIRECTION}">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

	<!-- BEGIN for_ui_examples_only -->
    <!-- ATTENTION: This only exists to provide an example of the complete page.     -->
    <!-- This won't be included in renderings of ordinary pages. Also have a look    -->
    <!-- into \ILIAS\UI\Implementation\Component\Layout\Page\Renderer::setHeaderVars -->
	<base href="{BASE}" />
	<!-- END for_ui_examples_only -->

	<title>{SHORT_TITLE}: {VIEW_TITLE}</title>

	<style type="text/css">
		{CSS_INLINE}
	</style>

	<link rel="stylesheet" type="text/css" href="{SKIN_URI}/css/init.css" />
	<link rel="stylesheet" type="text/css" href="{SKIN_URI}/css/typography.css" />
	<link rel="stylesheet" type="text/css" href="{SKIN_URI}/css/colorscheme.css" />
	<link rel="stylesheet" type="text/css" href="{SKIN_URI}/css/layout.css" />
	<link rel="stylesheet" type="text/css" href="{SKIN_URI}/css/course.css" />
	<link rel="stylesheet" type="text/css" href="{SKIN_URI}/css/ilias.css" />
	<link rel="stylesheet" type="text/css" href="{SKIN_URI}/css/modal.css" />
	<link rel="stylesheet" type="text/css" href="{SKIN_URI}/css/inbox.css" />

	<!-- BEGIN css_file -->
	<link rel="stylesheet" type="text/css" href="{CSS_FILE}" />
	<!-- END css_file -->
	
	<!-- BEGIN meta_datum -->
	<meta name="{META_KEY}" content="{META_VALUE}" />
	<!-- END meta_datum -->
	
	<!-- BEGIN js_file -->
	<script type="text/javascript" src="{JS_FILE}"></script>
	<!-- END js_file -->
	<!-- <script type="text/javascript" src="{SKIN_URI}/js/jquery-ui.min.js"></script> -->
	<script type="text/javascript" src="{SKIN_URI}/js/dom.js"></script>
</head>

<body class="{BODY_CLASS}">
	<!-- BEGIN mode_info -->
	{MODEINFO}
	<!-- END mode_info -->

	<div class="il-page-overlay">
		{OVERLAY}
	</div>

	
	<div class="page<!-- BEGIN slates_engaged --> with-mainbar-slates-engaged<!-- END slates_engaged -->">

		<header>
			<div class="logo">
				<a href="{DCI_HOMEPAGE_URL}">
					<img src="{SKIN_URI}/images/dci-logo.svg" />
					e-Campus
				</a>
			</div>
			<div class="dci-controls">
				<div class="dci-main-controls">
					<div class="nav il-maincontrols">
						{MAINBAR}
					</div>
					<div class="metabar">{METABAR}</div>
				</div>
				<div class="dci-secondary-controls">
					{LANGUAGE_SELECTOR}
				</div>
			</div>
		</header>

		<div class="dci-page-wrapper">
			<div class="breadcrumbs">
				{BREADCRUMBS}
			</div>

			<main class="il-layout-page-content dci-layout-page-content">
				<div class="dci-sidebar">
					<div class="dci-sidebar-toggle">
						<span class="icon-menu"></span>
					</div>
					{DCI_COURSE_MENU}
				</div>
				<div class="dci-main-content">
					<!-- BEGIN mode_info -->
					{MODEINFO}
					<!-- END mode_info -->
					{CONTENT}
				</div>
				
				<!-- BEGIN pagefooter -->
				<footer role="contentinfo">
					{FOOTER}
				</footer>
				<!-- END pagefooter -->
			</main>
		</div>
	</div>


<!-- BEGIN on_load_code -->
<script type="text/javascript">
	<!-- BEGIN on_load_code_inner -->
		il.Util.addOnLoad(function() {
			{OLCODE}
		});
	<!-- END on_load_code_inner -->
</script>
<!-- END on_load_code -->

</body>
</html>
